<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medipal" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medipal.MainActivity" />
        </activity>
        <activity
            android:name=".DoctorSplash"
            android:label="@string/title_activity_doctor_splash"
            android:parentActivityName=".Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medipal.Login" />
        </activity>
        <activity
            android:name=".DoctorAlerts"
            android:label="@string/title_activity_doctor_alerts"
            android:parentActivityName=".DoctorSplash" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medipal.DoctorSplash" />
        </activity>
        <activity
            android:name=".DoctorPatientsList"
            android:label="@string/title_activity_doctor_patients_list" >
            android:parentActivityName=".DoctorSplash" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medipal.DoctorSplash" />
        </activity>
        <activity
            android:name=".PatientSplash"
            android:label="@string/title_activity_patient_splash"
            android:parentActivityName=".Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medipal.Login" />
        </activity>
        <activity
            android:name=".PatientEnterSymptoms"
            android:label="@string/title_activity_patient_enter_symptoms"
            android:parentActivityName=".PatientSplash" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medipal.PatientSplash" />
        </activity>
        <activity
            android:name=".PatientInfoPage"
            android:label="@string/title_activity_patient_info_page"
            android:parentActivityName=".PatientSplash" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medipal.PatientSplash" />
        </activity>
        <activity
            android:name=".DoctorViewPatientInfoPage"
            android:label="@string/title_activity_doctor_view_patient_info_page" >
        </activity>
        <activity
            android:name=".PatientEditInfoPage"
            android:label="@string/title_activity_patient_edit_info_page" >
        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medipal.Login" />
        </activity>
        <activity
            android:name=".Database"
            android:label="@string/title_activity_database"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medipal.MainActivity" />
        </activity>
        <activity
            android:name=".DatabaseHelper"
            android:label="@string/title_activity_database_helper"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medipal.MainActivity" />
        </activity>
        <activity
            android:name=".message"
            android:label="@string/title_activity_message"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.medipal.MainActivity" />
        </activity>
    </application>

</manifest>
